/*
This should be kept minimal and only provide globals
or non-react component styles.
*/

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}